{% include 'header.html' %}

<center><h1><b>Assignment3.2</b></h1></center>
{#<div class="container">#}
{#    <div class="jumbotron" style="background-image: url('http://s1.ibtimes.com/sites/www.ibtimes.com/files/styles/v2_article_large/public/2012/01/31/224066-breading-cats.jpg'); background-size: 100% 100%; background-repeat: no-repeat;">#}
{#        <div class="container">#}
{#            <h1><b></b></h1>#}
{#            <p>Caaaaat</p>#}
{#            <br><br><br><br><br>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<img src="http://s1.ibtimes.com/sites/www.ibtimes.com/files/styles/v2_article_large/public/2012/01/31/224066-breading-cats.jpg"></img>

{% include 'footer.html' %}